.top-bar {
	width: 100%;
	height: 30px;
	background: rgba(245, 134, 52, 1);
	margin-bottom: 10px;
}

header {
	width: 100%;
	height: 50px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;

	& .logo {
		width: 109px;
		display: flex;
		align-items: center;
		gap: 5px;
		/* margin-right: auto; */
		cursor: pointer;

		img {
			width: 35px;
		}

		h3 {
			font-size: 1rem;
			font-weight: 700;
		}
	}

	nav {
		width: 450px;
		display: flex;
		align-items: center;
		gap: 30px;
		/* margin-right: auto; */

		a {
			font-size: 1rem;
			font-weight: 500;
			padding: 10px;
			border-radius: 40px;
			text-decoration: none;
			color: rgba(94, 94, 94, 1);
			transition: 0.3s ease;
		}

		a:hover {
			background: rgba(255, 248, 241, 1);
			color: rgba(225, 114, 32, 1);
		}
	}

	.login-buttons {
		width: 190px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 50px;

		button {
			padding: 10px 16px;
			border: 1px solid transparent;
			border-radius: 10px;
			color: #333;
			cursor: pointer;
		}

		.login-btn {
			background: none;
			border-color: rgba(200, 199, 199, 1);
		}

		.test-btn {
			color: #fff;
			background: linear-gradient(112.48deg, #f58634 -6.3%, #ffa84f 100%);
			transition: 0.3s ease;
		}

		.test-btn:hover {
			background: linear-gradient(112.48deg, #ffb883 -6.3%, #ffb76d 100%);
		}

		.test-btn:active {
			background: none;
			color: #333;
			border-color: rgba(200, 199, 199, 1);
		}
	}
}

main {
	width: 70%;
	margin: 0 auto;
	height: 100vh;
	/* border: 1px solid; */
	padding: 20px 20px 0;
	text-align: center;
	background: url("/Assets/bg-square.png") center center no-repeat;
	background-size: cover;
	overflow: hidden;

	.hero {
		width: 100%;
		height: 120vh;
		overflow: hidden;
		position: relative;

		.free-test {
			width: 340px;
			height: 40px;
			margin: 20px auto;
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 0 10px;
			text-align: center;
			background: rgba(255, 251, 248, 1);
			cursor: pointer;
			border-radius: 30px;

			.icon {
				position: relative;
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba(249, 146, 61, 0.8);
				border-radius: 50%;
				z-index: 5;
			}

			.icon::after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: inherit;
				background: rgba(249, 146, 61, 0.5);
				animation: expand 2s infinite ease;
			}

			p {
				color: rgba(233, 124, 33, 1);
			}
		}

		h1.hero-title {
			font-size: 4rem;
			margin-bottom: 25px;
			color: rgba(26, 26, 26, 1);

			span {
				color: #f58634;
			}
		}

		.hero-desc {
			width: 430px;
			margin: 0 auto 20px;
			font-size: 1rem;
			font-weight: 400;
			color: rgba(0, 0, 0, 1);
		}

		.happy-users {
			width: 220px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			gap: 6px;
			margin-bottom: 30px;

			.users img {
				width: 80px;
				cursor: pointer;
			}

			.review {
				font-size: 12px;
			}
		}

		.start-btn {
			display: flex;
			align-items: center;
			gap: 8px;
			margin: 0 auto 50px;
			padding: 14px 20px;
			background: linear-gradient(112.48deg, #f58634 -6.3%, #ffa84f 100%);
			border: 1px solid transparent;
			border-radius: 12px;
			color: #fff;
			font-weight: 500;
			font-size: 1rem;
			cursor: pointer;

			span {
				margin-left: -20px;
				opacity: 0;
				transition: 0.3s ease;
			}
		}

		.start-btn:hover {
			background: linear-gradient(112.48deg, #ffb883 -6.3%, #ffb76d 100%);

			span {
				margin: 0;
				opacity: 1;
			}
		}

		.start-btn:active {
			background: none;
			color: #333;
			border-color: rgba(200, 199, 199, 1);
		}

		.globe {
			width: 80%;
			margin: 0 auto;
			cursor: pointer;
			overflow: hidden;
		}

		.globe:hover img {
			animation: scale 30s forwards ease-in-out;
		}
	}
}
.support {
	width: 80%;
	height: 200px;
	margin: 0 auto;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 70px;
	z-index: 10;
	/* border: 1px solid; */

	img {
		width: 120px;
		filter: opacity(0.5);
		transition: 0.3s ease;
		cursor: pointer;
	}

	img:hover {
		filter: opacity(1);
	}
}

@keyframes expand {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.8);
	}
}

@keyframes scale {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.5);
	}
}

.questionnaire {
	width: 100%;
	background: rgba(255, 255, 255, 1);

	.question-box {
		width: 70%;
		margin: 10px auto 0;
		padding: 10px;
		border-radius: 6px;
		border: 1px solid;

		.question {
			width: 100%;
			margin-block: 10px;
			text-align: center;
			border: 1px solid;

			.check-container {
				width: 50%;
				padding: 10px;
				margin: 10px auto;
				display: flex;
				align-items: center;
				justify-content: space-around;
				border: 1px solid;

				.checkboxes {
					width: 50%;
					display: flex;
					align-items: center;
					justify-content: space-between;

					.checkbox input[type="checkbox"] {
						position: relative;
						appearance: none;
						cursor: pointer;
					}

					.checkbox input[type="checkbox"]::after {
						content: "";
						width: inherit;
						height: inherit;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-75%, -75%);
						border-radius: 25%;
						background: none;
						border: 1px solid;
					}

					.small {
						accent-color: red;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
}
@media screen and (max-width: 768px) {
	/* CSS rules to apply when the screen width is 768 pixels or less */
}
