.top-bar {
	width: 100%;
	height: 30px;
	background: rgba(245, 134, 52, 1);
	margin-bottom: 10px;
}

header {
	width: 100%;
	height: 50px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;

	& .logo {
		width: 109px;
		display: flex;
		align-items: center;
		gap: 5px;
		/* margin-right: auto; */
		cursor: pointer;

		img {
			width: 35px;
		}

		h3 {
			font-size: 1rem;
			font-weight: 700;
		}
	}

	nav {
		width: 450px;
		display: flex;
		align-items: center;
		gap: 30px;
		/* margin-right: auto; */

		a {
			font-size: 1rem;
			font-weight: 500;
			padding: 10px;
			border-radius: 40px;
			text-decoration: none;
			color: rgba(94, 94, 94, 1);
			transition: 0.3s ease;
		}

		a:hover {
			background: rgba(255, 248, 241, 1);
			color: rgba(225, 114, 32, 1);
		}
	}

	.login-buttons {
		width: 190px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 50px;

		button {
			padding: 10px 16px;
			border: 1px solid transparent;
			border-radius: 10px;
			color: #333;
			cursor: pointer;
		}

		.login-btn {
			background: none;
			border-color: rgba(200, 199, 199, 1);
		}

		.test-btn {
			color: #fff;
			background: linear-gradient(112.48deg, #f58634 -6.3%, #ffa84f 100%);
			transition: 0.3s ease;
		}

		.test-btn:hover {
			background: linear-gradient(112.48deg, #ffb883 -6.3%, #ffb76d 100%);
		}

		.test-btn:active {
			background: none;
			color: #333;
			border-color: rgba(200, 199, 199, 1);
		}
	}
}

main {
	width: 70%;
	margin: 0 auto;
	height: 100vh;
	padding: 20px 20px 0;
	text-align: center;
	background: url("/Assets/bg-square.png") center center no-repeat;
	background-size: cover;
	overflow: hidden;

	.hero {
		width: 100%;
		height: 120vh;
		overflow: hidden;
		position: relative;

		.free-test {
			width: 340px;
			height: 40px;
			margin: 20px auto;
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 0 10px;
			text-align: center;
			background: rgba(255, 251, 248, 1);
			cursor: pointer;
			border-radius: 30px;

			.icon {
				position: relative;
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba(249, 146, 61, 0.8);
				border-radius: 50%;
				z-index: 5;
			}

			.icon::after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: inherit;
				background: rgba(249, 146, 61, 0.5);
				animation: expand 2s infinite ease;
			}

			p {
				color: rgba(233, 124, 33, 1);
			}
		}

		h1.hero-title {
			font-size: 4rem;
			margin-bottom: 25px;
			color: rgba(26, 26, 26, 1);

			span {
				color: #f58634;
			}
		}

		.hero-desc {
			width: 430px;
			margin: 0 auto 20px;
			font-size: 1rem;
			font-weight: 400;
			color: rgba(0, 0, 0, 1);
		}

		.happy-users {
			width: 220px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			gap: 6px;
			margin-bottom: 30px;

			.users img {
				width: 80px;
				cursor: pointer;
			}

			.review {
				font-size: 12px;
			}
		}

		.start-btn {
			display: flex;
			align-items: center;
			gap: 8px;
			margin: 0 auto 50px;
			padding: 14px 20px;
			background: linear-gradient(112.48deg, #f58634 -6.3%, #ffa84f 100%);
			border: 1px solid transparent;
			border-radius: 12px;
			color: #fff;
			font-weight: 500;
			font-size: 1rem;
			cursor: pointer;

			span {
				margin-left: -20px;
				opacity: 0;
				transition: 0.3s ease;
			}
		}

		.start-btn:hover {
			background: linear-gradient(112.48deg, #ffb883 -6.3%, #ffb76d 100%);

			span {
				margin: 0;
				opacity: 1;
			}
		}

		.start-btn:active {
			background: none;
			color: #333;
			border-color: rgba(200, 199, 199, 1);
		}

		.globe {
			width: 80%;
			margin: 0 auto;
			cursor: pointer;
			overflow: hidden;
		}

		.globe:hover img {
			animation: scale 30s forwards ease-in-out;
		}
	}
}
.support {
	width: 100%;
	height: 250px;
	margin: 0 auto;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
	z-index: 10;
	/* border: 1px solid; */

	img {
		width: 135px;
		filter: opacity(0.5);
		transform: translateY(0);
		transition: 0.3s ease-in-out;
		cursor: pointer;
	}

	img:hover {
		filter: opacity(1);
		transform: translateY(-2px);
	}
}

@keyframes expand {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.8);
	}
}

@keyframes scale {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.5);
	}
}

.card-section {
	width: 100%;
	padding: 20px;
	background: rgba(255, 255, 255, 1);

	.title {
		margin-bottom: 25px;
		font-size: 2rem;
		font-weight: 600;
		color: rgba(26, 26, 26, 1);
		text-align: center;
	}

	.card-container {
		width: 90%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10px;

		.card {
			min-width: 300px;
			width: 300px;
			padding: 8px 10px;
			height: 250px;
			border-radius: 12px;
			display: flex;
			flex-direction: column;
			text-align: center;
			cursor: pointer;
			transition: 0.3s ease;

			.icon {
				width: 60px;
				height: 60px;
				margin: 10px auto 15px;
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba(225, 114, 32, 1);
				border-radius: 50%;

				img {
					width: 30px;
				}
			}

			.card-title {
				font-size: 1.2rem;
				color: rgba(26, 26, 26, 1);
				margin-bottom: 10px;
			}

			.desc {
				font-size: 1.02rem;

				color: rgba(94, 94, 94, 1);
			}
		}

		.card:hover {
			transform: translateY(-2px);
			box-shadow: 0px 3px 8px rgba(94, 94, 94, 0.15);
		}
	}
}

.steps-section {
	width: 100%;
	/* height: 80vh; */
	padding: 20px 0;
	margin-bottom: 40px;
	background: rgba(255, 255, 255, 1);

	.container {
		width: 85%;
		margin: 20px auto 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		.steps {
			width: 50%;
			padding: 20px;
			border-radius: 12px;

			h1 {
				font-size: 2rem;
				font-weight: 600;
				margin-bottom: 20px;
			}

			ul {
				padding-left: 50px;
				list-style-type: none;

				li {
					position: relative;
					width: 350px;
					margin-block: 20px;
					cursor: pointer;

					h4 {
						font-size: 1.25rem;
						font-weight: 500;
						line-height: 1.5;
					}

					p {
						font-size: 1rem;
						color: rgba(94, 94, 94, 1);
						line-height: 1.5;
					}
				}

				li::before {
					content: "";
					position: absolute;
					top: 5px;
					left: -50px;
					width: 12px;
					height: 12px;
					border: 3px double rgb(255, 255, 255);
					border-radius: 50%;
					background: rgba(233, 124, 33, 1);
					transition: 0.3s ease;
				}

				li:hover::before {
					opacity: 0.7;
					transform: scale(1.25);
				}

				li:not(:last-child):after {
					content: "";
					position: absolute;
					top: 20px;
					left: -42px;
					width: 2px;
					height: calc(100% + 8px);
					border-radius: 5px;
					background: rgba(233, 124, 33, 1);
				}
			}
		}

		.img {
			width: 40%;
			height: 400px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
			background: url("/Assets/happy_friends.jfif") center -190px no-repeat;
			background-size: cover;

			.play_thumbnail {
				width: 80px;
				height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba(245, 237, 228, 0.5);
				border-radius: 50%;
				cursor: pointer;
				transition: 0.3s ease;

				img {
					margin-left: 8px;
					width: 35px;
				}
			}

			.play_thumbnail:hover {
				background: rgba(245, 237, 228, 0.8);
			}
		}
	}
}

.questionnaire {
	width: 100%;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	margin-bottom: 50px;

	h1 {
		font-size: 2.5rem;
		font-weight: 600;
		margin-bottom: 0;
	}

	.question-box {
		width: 70%;
		margin: 0 auto;
		border-radius: 6px;

		.question {
			width: 100%;
			margin-block: 10px;
			text-align: center;
			padding-block: 20px;
			border-bottom: 2px solid rgba(94, 94, 94, 0.15);

			h3 {
				color: rgba(96, 96, 96, 1);
				margin-bottom: 20px;
				font-weight: 400;
			}

			.check-container {
				width: 70%;
				padding: 10px;
				margin: 10px auto;
				display: flex;
				align-items: center;
				justify-content: space-around;

				p {
					font-size: 1.25rem;
					font-weight: 600;
				}

				p.active {
					color: red;
				}

				.checkboxes {
					width: 70%;
					display: flex;
					align-items: center;
					justify-content: space-between;

					.checkbox input[type="radio"] {
						position: relative;
						cursor: pointer;
						accent-color: rgba(96, 96, 96, 1);
						opacity: 0.6;
					}

					.checkbox input[type="radio"].disagree {
						accent-color: red;
					}

					.checkbox input[type="radio"].agree {
						accent-color: green;
					}

					.small {
						accent-color: red;
					}
				}
			}
		}
	}

	.submit-question {
		display: flex;
		align-items: center;
		gap: 8px;
		margin: 50px auto 0;
		padding: 8px 20px;
		background: linear-gradient(112.48deg, #f58634 -6.3%, #ffa84f 100%);
		border: 1px solid transparent;
		border-radius: 8px;
		color: #fff;
		font-weight: 500;
		font-size: 1rem;
		cursor: pointer;

		span {
			margin-left: -20px;
			opacity: 0;
			transition: 0.3s ease;
		}
	}

	.submit-question:hover {
		background: linear-gradient(112.48deg, #ffb883 -6.3%, #ffb76d 100%);

		span {
			margin: 0;
			opacity: 1;
		}
	}

	.submit-question:active {
		background: none;
		color: #333;
		border-color: rgba(200, 199, 199, 1);
	}
}

.faqs {
	width: 100%;
	padding: 20px 150px;

	h2 {
		font-weight: 500;
		font-size: 2rem;
		margin-bottom: 30px;
	}

	.container {
		width: 100%;
		margin: 10px auto 0;

		.question-box {
			width: 100%;
			margin-block: 10px;
			padding-block: 20px;
			border-bottom: 1px solid rgba(94, 94, 94, 0.15);

			.question {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-inline: 10px;
				margin-bottom: 15px;

				h3 {
					font-size: 1.3rem;
					font-weight: 400;
				}

				button {
					background: none;
					font-size: 1.15rem;
					cursor: pointer;
				}
			}

			.answer {
				width: 60%;
				padding-inline: 20px;

				p {
					font-size: 1rem;
					color: rgba(94, 94, 94, 1);
				}
			}
		}
	}
}

.customers {
	width: 100%;
	padding: 40px 20px 20px;

	h1 {
		text-align: center;
		margin-bottom: 30px;
	}

	.cards {
		position: relative;
		width: 80%;
		margin: 20px auto 0;
		padding: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		flex-wrap: no-wrap;
		overflow-x: scroll;
		scrollbar-color: rgba(245, 132, 52, 1) rgba(245, 132, 52, 0.288);
		scrollbar-width: none;

		.card {
			position: relative;
			min-width: 350px;
			height: 450px;
			text-align: center;
			/* border: 1px solid; */
			border-radius: 12px;
			cursor: pointer;
			transition: 0.3s ease;

			img {
				display: block;
				width: 100px;
				height: 100px;
				margin: 20px auto;
				object-fit: cover;
				border-radius: 50%;
				box-shadow: 2px 3px 8px rgba(94, 94, 94, 0.25);
			}

			q {
				display: block;
				color: rgba(96, 96, 96, 1);
				font-style: italic;
				font-size: 0.9rem;
				width: 80%;
				margin: 10px auto 15px;
				text-align: center;
				line-height: 1.5;
			}

			.user {
				position: absolute;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);

				.name {
					color: #222;
					font-size: 1.1rem;
					margin-bottom: 8px;
				}

				.job {
					font-size: 0.95rem;
					font-weight: 500;
					color: rgba(94, 94, 94, 1);
				}
			}
		}

		.card:hover {
			transform: translateY(-2px);
			box-shadow: 0px 3px 8px rgba(94, 94, 94, 0.15);
		}
	}

	/* .cards::before,
	.cards::after {
		content: "";
		position: absolute;
		top: 0;
		width: 5px;
		height: 100%;

		background: #ffffff86;
	}
	.cards::before {
		left: 50%;
		border-right: 20px solid red;
	}
	.cards::after {
		right: 0;
	} */
}

.footer {
	width: 100%;
	height: 70vh;
	padding: 20px 50px;
	background: rgba(30, 13, 0, 1);

	.container {
		width: 90%;
		display: flex;
		margin-top: 30px;
		margin-inline: auto;
		padding: 20px;
		align-items: center;
		gap: 20px;

		.cards {
			width: 60%;
			padding: 20px;
			display: flex;
			align-items: start;
			gap: 60px;

			.card {
				color: #fff;

				h2 {
					font-size: 1.15rem;
					font-weight: 500;
					margin-bottom: 30px;
				}

				a {
					display: block;
					text-decoration: none;
					color: #fff;
					font-size: 1rem;
					margin-bottom: 15px;
					font-weight: 400;
					transition: 0.3s ease;
				}

				a:hover {
					color: rgba(96, 96, 96, 1);
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
}
@media screen and (max-width: 768px) {
	/* CSS rules to apply when the screen width is 768 pixels or less */
}
